:root {
  --color-main-hsl-h: 350;
  --color-main-hsl-s: 70%;
  --color-main-hsl-l: 53%;
  --color-main-hsl: hsl(var(--color-main-hsl-h), var(--color-main-hsl-s), var(--color-main-hsl-l));

  --color-secondary-hsl-h: 257;
  --color-secondary-hsl-s: 62%;
  --color-secondary-hsl-l: 20%;
  --color-secondary-hsl: hsl(var(--color-secondary-hsl-h), var(--color-secondary-hsl-s), var(--color-secondary-hsl-l));

  --color-bg-main-hsl-h: 0;
  --color-bg-main-hsl-s: 0%;
  --color-bg-main-hsl-l: 97%;
  --color-bg-main-hsl: hsl(var(--color-bg-main-hsl-h), var(--color-bg-main-hsl-s), var(--color-bg-main-hsl-l));

  --color-bg-secondary-hsl-h: 0;
  --color-bg-secondary-hsl-s: 0%;
  --color-bg-secondary-hsl-l: 97%;
  --color-bg-secondary-hsl: hsl(var(--color-bg-secondary-hsl-h), var(--color-bg-secondary-hsl-s), var(--color-bg-secondary-hsl-l));

  --color-text-main-hsl-h: 260;
  --color-text-main-hsl-s: 60%;
  --color-text-main-hsl-l: 3%;
  --color-text-main-hsl: hsl(var(--color-text-main-hsl-h), var(--color-text-main-hsl-s), var(--color-text-main-hsl-l));

  --color-text-light-hsl-h: 0; 
  --color-text-light-hsl-s: 0%;
  --color-text-light-hsl-l: 100%;
  --color-text-light-hsl: hsl(var(--color-text-light-hsl-h), var(--color-text-light-hsl-s), var(--color-text-light-hsl-l));

  --font-size-text-normal: calc(1rem + 0.1vh);
  --font-size-text-big: calc(1.1rem + 0.1vh);

  --font-size-title-normal: calc(1.25rem + 0.1vh);
  --font-size-title-big: calc(1.5rem + 0.1vh);
  --font-size-title-bigger: calc(1.75rem + 0.1vh);

  --icon-svg-dashboard: url(icons/dashboard.svg);
  --icon-svg-home: url(icons/home.svg);
  --icon-svg-profile: url(icons/profile.svg);
  --icon-svg-messages: url(icons/messages.svg);
  --icon-svg-history: url(icons/history.svg);
  --icon-svg-tasks: url(icons/tasks.svg);
  --icon-svg-communities: url(icons/communities.svg);
  --icon-svg-settings: url(icons/settings.svg);
  --icon-svg-support: url(icons/support.svg);
  --icon-svg-privacity: url(icons/privacity.svg);
}

.page-wrapper {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: max-content auto;
}

.header {
  grid-area: 1 / 1 / span 2 / span 2;
  
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-template-areas:
    "navegation top-wrapper"
    "navegation .";
}

.navegation {
  grid-area: navegation;

  padding: 1.5rem;
  padding-right: clamp(0px, 4vw, 15rem);

  background-color: var(--color-main-hsl);
}

.navegation__h1 {
  --icon-size: calc(var(--font-size-title-bigger) * 1.4);

  margin: 0;

  gap: 1rem;

  font-size: var(--font-size-title-bigger);
}

.navegation-links__links-list {
  margin-top: calc(var(--font-size-title-big) * 2);
  margin-bottom: 0;
  padding-left: 0;

  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: var(--font-size-title-big);
  gap: var(--font-size-title-big);
}

/* Add an empty grid cell to the navegation links */
.navegation-links__links-list::before {
  content: "";
  grid-area: 7 / 1 / span 1 / span 1;
}

.navegation__h1,
.navegation-links__home,
.navegation-links__profile,
.navegation-links__messages,
.navegation-links__history,
.navegation-links__tasks,
.navegation-links__communities,
.navegation-links__settings,
.navegation-links__support,
.navegation-links__privacity {
  display: grid;
  grid-template: var(--icon-size) / var(--icon-size) min-content;
  align-items: center;
}

.navegation-links__home,
.navegation-links__profile,
.navegation-links__messages,
.navegation-links__history,
.navegation-links__tasks,
.navegation-links__communities,
.navegation-links__settings,
.navegation-links__support,
.navegation-links__privacity {
  --icon-size: calc(var(--font-size-title-big) * 0.9);

  gap: 1rem;

  font-size: var(--font-size-title-big);
  font-weight: 500;
}

.navegation__h1::before {background-image: var(--icon-svg-dashboard)}
.navegation-links__home::before {background-image: var(--icon-svg-home)}
.navegation-links__profile::before {background-image: var(--icon-svg-profile)}
.navegation-links__messages::before {background-image: var(--icon-svg-messages)}
.navegation-links__history::before {background-image: var(--icon-svg-history)}
.navegation-links__tasks::before {background-image: var(--icon-svg-tasks)}
.navegation-links__communities::before {background-image: var(--icon-svg-communities)}
.navegation-links__settings::before {background-image: var(--icon-svg-settings)}
.navegation-links__support::before {background-image: var(--icon-svg-support)}
.navegation-links__privacity::before {background-image: var(--icon-svg-privacity)}

.navegation__h1::before,
.navegation-links__home::before,
.navegation-links__profile::before,
.navegation-links__messages::before,
.navegation-links__history::before,
.navegation-links__tasks::before,
.navegation-links__communities::before,
.navegation-links__settings::before,
.navegation-links__support::before,
.navegation-links__privacity::before {
  content: "";

  height: var(--icon-size);

  background-repeat: no-repeat;
  background-position: center;
}

.navegation__h1,
.home-link,
.profile-link,
.messages-link,
.history-link,
.tasks-link,
.communities-link,
.settings-link,
.support-link,
.privacity-link {
  color: var(--color-text-light-hsl);
}

.home-link,
.profile-link,
.messages-link,
.history-link,
.tasks-link,
.communities-link,
.settings-link,
.support-link,
.privacity-link {
  text-decoration: none;
}

.navegation__h1::before {
  content: "";
  background-image: var(--icon-svg-dashboard);

  height: var(--icon-size);
}

.header__top-wrapper {
  grid-area: top-wrapper;
}

.main {
  grid-area: 2 / 2 / span 1 / span 1;
}