:root {
  --color-main-hsl-h: 350;
  --color-main-hsl-s: 70%;
  --color-main-hsl-l: 53%;
  --color-main-hsl: hsl(var(--color-main-hsl-h), var(--color-main-hsl-s), var(--color-main-hsl-l));

  --color-secondary-hsl-h: 257;
  --color-secondary-hsl-s: 62%;
  --color-secondary-hsl-l: 20%;
  --color-secondary-hsl: hsl(var(--color-secondary-hsl-h), var(--color-secondary-hsl-s), var(--color-secondary-hsl-l));

  --color-bg-main-hsl-h: 0;
  --color-bg-main-hsl-s: 0%;
  --color-bg-main-hsl-l: 97%;
  --color-bg-main-hsl: hsl(var(--color-bg-main-hsl-h), var(--color-bg-main-hsl-s), var(--color-bg-main-hsl-l));

  --color-bg-secondary-hsl-h: 260;
  --color-bg-secondary-hsl-s: 10%;
  --color-bg-secondary-hsl-l: 88%;
  --color-bg-secondary-hsl: hsl(var(--color-bg-secondary-hsl-h), var(--color-bg-secondary-hsl-s), var(--color-bg-secondary-hsl-l));

  --color-text-main-hsl-h: 260;
  --color-text-main-hsl-s: 60%;
  --color-text-main-hsl-l: 3%;
  --color-text-main-hsl: hsl(var(--color-text-main-hsl-h), var(--color-text-main-hsl-s), var(--color-text-main-hsl-l));

  --color-text-light-hsl-h: 0; 
  --color-text-light-hsl-s: 0%;
  --color-text-light-hsl-l: 100%;
  --color-text-light-hsl: hsl(var(--color-text-light-hsl-h), var(--color-text-light-hsl-s), var(--color-text-light-hsl-l));

  --color-focus-hsl-h: 214;
  --color-focus-hsl-s: 100%;
  --color-focus-hsl-l: 50%;
  --color-focus-hsl: hsl(var(--color-focus-hsl-h), var(--color-focus-hsl-s), var(--color-focus-hsl-l));

  --font-size-text-tiny: calc(0.8rem + 0.1vh);
  --font-size-text-normal: calc(1rem + 0.1vh);
  --font-size-text-big: calc(1.1rem + 0.1vh);

  --font-size-title-tiny: calc(1rem + 0.1vh);
  --font-size-title-normal: calc(1.25rem + 0.1vh);
  --font-size-title-big: calc(1.5rem + 0.1vh);
  --font-size-title-bigger: calc(1.75rem + 0.1vh);

  --icon-svg-dashboard: url(icons/dashboard.svg);
  --icon-svg-home: url(icons/home.svg);
  --icon-svg-profile: url(icons/profile.svg);
  --icon-svg-messages: url(icons/messages.svg);
  --icon-svg-history: url(icons/history.svg);
  --icon-svg-tasks: url(icons/tasks.svg);
  --icon-svg-communities: url(icons/communities.svg);
  --icon-svg-settings: url(icons/settings.svg);
  --icon-svg-support: url(icons/support.svg);
  --icon-svg-privacity: url(icons/privacity.svg);
  --icon-svg-search: url(icons/search.svg);
  --icon-svg-notifications: url(icons/notifications.svg);
  --icon-svg-add-fav: url(icons/add-fav.svg);
  --icon-svg-fork: url(icons/fork.svg);
  --icon-svg-mark-read: url(icons/mark-read.svg);

  --icon-size-normal: calc(var(--font-size-title-big) * 0.9);
  --icon-size-big: calc(var(--font-size-title-bigger) * 1.4);

  --user-photo-size-tiny: 2.5rem;
  --user-photo-size-normal: 4rem;

  --user-name: "Michel Devopuski";
  --user-id: "@michel";
}

.page-wrapper {
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: max-content auto;
}

.header {
  grid-area: 1 / 1 / span 2 / span 2;
  
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-template-areas:
    "navegation top-wrapper"
    "navegation .";
}

.navegation {
  grid-area: navegation;

  padding: 1.5rem;
  padding-right: clamp(0px, 4vw, 15rem);

  background-color: var(--color-main-hsl);
}

.navegation__h1 {
  margin: 0;

  font-size: var(--font-size-title-bigger);
}

.navegation-links__links-list {
  margin-top: calc(var(--font-size-title-big) * 2);
  margin-bottom: 0;
  padding-left: 0;

  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: var(--font-size-title-big);
  gap: var(--font-size-title-big);

  list-style: none;
}

/* Add an empty grid cell to the navegation links */
.navegation-links__links-list::before {
  content: "";
  grid-area: 7 / 1 / span 1 / span 1;
}

.home-link,
.profile-link,
.messages-link,
.history-link,
.tasks-link,
.communities-link,
.settings-link,
.support-link,
.privacity-link {
  font-size: var(--font-size-title-big);
  font-weight: 500;
  text-decoration: none;
}

/* Adding icons for each navegation link and the header */

/* Set bg image with the icon */
.navegation__h1 {background-image: var(--icon-svg-dashboard)}
.home-link {background-image: var(--icon-svg-home)}
.profile-link {background-image: var(--icon-svg-profile)}
.messages-link {background-image: var(--icon-svg-messages)}
.history-link {background-image: var(--icon-svg-history)}
.tasks-link {background-image: var(--icon-svg-tasks)}
.communities-link {background-image: var(--icon-svg-communities)}
.settings-link {background-image: var(--icon-svg-settings)}
.support-link {background-image: var(--icon-svg-support)}
.privacity-link {background-image: var(--icon-svg-privacity)}

/* Lay out the background and add space between the icon and text */

.navegation__h1,
.home-link,
.profile-link,
.messages-link,
.history-link,
.tasks-link,
.communities-link,
.settings-link,
.support-link,
.privacity-link {
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.home-link,
.profile-link,
.messages-link,
.history-link,
.tasks-link,
.communities-link,
.settings-link,
.support-link,
.privacity-link {
  background-size: var(--icon-size-normal);

  padding-left: calc(var(--icon-size-normal) + 1rem);
}

/* Icon is bigger than font-size, it fixes it */
.navegation__h1 {
  height: var(--icon-size-big);
  line-height: var(--icon-size-big);

  background-size: var(--icon-size-big);
  padding-left: calc(var(--icon-size-big) + 1rem);
}

/* End adding icons */

.navegation__h1,
.home-link,
.profile-link,
.messages-link,
.history-link,
.tasks-link,
.communities-link,
.settings-link,
.support-link,
.privacity-link {
  color: var(--color-text-light-hsl);
}

.header__top-wrapper {
  grid-area: top-wrapper;

  padding: calc(0.5rem + 1vh) calc(2rem + 1vw);

  display: grid;
  grid-template:
    "search-box   tiny-user-profile" 3rem
    "user-profile option-buttons   " 4rem / auto max-content;
  gap: 2rem;
  align-items: center;

  background-color: var(--color-bg-main-hsl);
}

.search-box-wrapper {
  --search-box-height: 1.75rem;

  grid-area: search-box;
  
  height: var(--search-box-height);
  
  display: flex;
}

.search-button {
  height: var(--search-box-height);
  width: calc(var(--search-box-height) + 1rem);

  border-color: transparent;

  background-color: transparent;
  background-image: var(--icon-svg-search);
  background-size: var(--icon-size-normal);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.search-box {
  flex-grow: 1;

  border-color: transparent;
  border-radius: calc(var(--search-box-height) / 2);

  background-color: var(--color-bg-secondary-hsl);
}

.search-box:focus {
  outline: none;
  border: 1px solid var(--color-focus-hsl);
}

.notifications-button {
  height: 1.75rem;
  aspect-ratio: 1 / 1;

  border-color: transparent;

  background-color: transparent;
  background-image: var(--icon-svg-notifications);
  background-size: var(--icon-size-normal);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.header__tiny-user-profile-wrapper {
  grid-area: tiny-user-profile;

  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
  align-items: center;
}

.kendall-photo-tiny,
.alex-photo-tiny,
.tegan-photo-tiny,
.user-photo-tiny,
.user-photo-normal {
  aspect-ratio: 1 / 1;

  background-size: contain;
  background-repeat: no-repeat;
}

.kendall-photo-tiny {background-image: url(images/kendall-photo.png)}
.alex-photo-tiny {background-image: url(images/alex-photo.png)}
.tegan-photo-tiny {background-image: url(images/tegan-photo.png)}
.user-photo-tiny,
.user-photo-normal {background-image: url(images/user-photo.png)}

.kendall-photo-tiny,
.alex-photo-tiny,
.tegan-photo-tiny,
.user-photo-tiny,
.user-photo-normal {
  background-color: rgb(255, 233, 136);
  border-radius: 50%;
  background-size: 80%;
  background-position: 50%;
}

.user-photo-tiny,
.kendall-photo-tiny,
.alex-photo-tiny,
.tegan-photo-tiny {height: var(--user-photo-size-tiny)}
.user-photo-normal {height: var(--user-photo-size-normal)}

.user-name-tiny::before,
.user-name-normal::before {content: var(--user-name)}

.user-id-normal::before {content: " ("var(--user-id)")"}
.user-id-tiny::before {content: var(--user-id)}

.user-name-tiny {
  font-weight: 700;
}

.header__user-profile-wrapper {
  grid-area: user-profile;

  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.user-name-normal,
.user-id-normal {
  font-size: var(--font-size-title-big);
  font-weight: 700;
}

.hi-there {
  margin-bottom: 0.4rem;

  font-size: var(--font-size-text-tiny);
  font-weight: 700;
}

.option-buttons-wrapper {
  grid-area: option-buttons;

  display: flex;
  gap: 1.5rem;
}

.new-button,
.upload-button,
.share-button {
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 1.25rem;

  background-color: var(--color-main-hsl);
  
  font-size: var(--font-size-text-normal);
  font-weight: 500;
  color: var(--color-text-light-hsl);
}

.main {
  grid-area: 2 / 2 / span 1 / span 1;

  padding: calc(1rem + 1vh);

  display: grid;
  grid-template: 
    "your-projects announcements" 1fr
    "your-projects trending     " 1fr / 1fr minmax(12rem, 25%);
  gap: calc(1rem + 1vh);

  background-color: var(--color-bg-secondary-hsl);
}

.your-projects-section,
.announcements-section,
.trending-section {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.your-projects-section {
  grid-area: your-projects;
}

.projects-section {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-auto-rows: 1fr;
  gap: calc(1rem + 1vh);
}

.project-card {
  padding: var(--font-size-text-big);
  padding-right: calc(var(--font-size-text-big) + 0.5rem);

  border-left: 0.5rem solid var(--color-secondary-hsl);
  border-radius: 0.5rem;

  display: grid;
  grid-template:
    "title title  title  title" min-content
    "desc  desc   desc   desc " auto
    ".     icon-1 icon-2 icon-3" min-content / auto min-content min-content min-content;

  background-color: var(--color-bg-main-hsl);
}

.project-title {grid-area: title}
.project-description {grid-area: desc}

.project-title {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;

  font-size: var(--font-size-title-normal);
  color: var(--color-text-main-hsl);
}

.project-description {
  margin-top: 0.25rem;

  font-size: var(--font-size-text-normal);
  color: var(--color-text-main-hsl);
}

.add-to-fav-button,
.mark-read-button,
.fork-button {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;

  border: none;
}

.add-to-fav-button {
  grid-area: icon-1;
  background-image: var(--icon-svg-add-fav);
}

.mark-read-button {
  grid-area: icon-2;
  background-image: var(--icon-svg-mark-read);
}

.fork-button {
  grid-area: icon-3;
  background-image: var(--icon-svg-fork);
}


.add-to-fav-button,
.mark-read-button,
.fork-button {
  height: var(--icon-size-normal);
  aspect-ratio: 1 / 1;

  margin-left: calc(2rem + 1vw);
  padding: 0;
}

.your-projects-section__h1,
.announcements-section__h1,
.trending-section__h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;

  font-size: var(--font-size-title-big);
  font-weight: 500;
  color: var(--color-text-main-hsl)
}

.announcements-section {
  grid-area: announcements;
}

.announcement-title {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;

  font-size: var(--font-size-title-tiny);
  color: var(--color-text-main-hsl);
}

.announcement-text {
  margin: 0;
}

.announcements-card,
.trending-card {
  padding: var(--font-size-text-big) calc(2.1rem + 0.1vw);

  border-radius: 0.5rem;

  background-color: var(--color-bg-main-hsl);
}